Repository GurdipSCode/devops-terraform-modules-sample: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-fmt, terraform-validate, tflint, trivy-config, tfsec, checkov, terraform-docs, yaml-lint, markdown-lint, shellcheck, check-json

terraform-fmt:
  run: terraform fmt -check -recursive -diff
  fail_text: Run `terraform fmt -recursive` to fix formatting

terraform-validate:
  run: "find . -name '*.tf' -not -path '*/.terraform/*' \\\n  -exec dirname {} \\; | sort -u | while read -r dir; do\n  echo \"→ Validating $dir\"\n  terraform -chdir=\"$dir\" init -backend=false -input=false > /dev/null 2>&1\n  terraform -chdir=\"$dir\" validate\ndone\n"
  ...

tflint:
  run: "find . -name '*.tf' -not -path '*/.terraform/*' \\\n  -exec dirname {} \\; | sort -u | while read -r dir; do\n  echo \"→ Linting $dir\"\n  tflint --chdir=\"$dir\" --init > /dev/null 2>&1\n  tflint --chdir=\"$dir\"\ndone\n"
  fail_text: TFLint found issues

trivy-config:
  run: trivy config --exit-code 1 --severity HIGH,CRITICAL --tf-exclude-downloaded-modules .
  fail_text: Trivy found security issues

tfsec:
  run: tfsec --soft-fail --minimum-severity HIGH .
  fail_text: tfsec found security issues

checkov:
  run: checkov -d . --quiet --compact --skip-path .terraform
  fail_text: Checkov policy check failed

terraform-docs:
  run: "find . -name '*.tf' -not -path '*/.terraform/*' -not -path '*/examples/*' \\\n  -exec dirname {} \\; | sort -u | while read -r dir; do\n  if [ -f \"$dir/README.md\" ]; then\n    terraform-docs markdown table --output-check \"$dir\"\n  fi\ndone\n"
  ...

yaml-lint:
  run: yamllint -c .yamllint.yml {staged_files}
  fail_text: YAML lint errors found

markdown-lint:
  run: markdownlint --config .markdownlint.yml {staged_files}
  fail_text: Markdown lint errors found

shellcheck:
  run: shellcheck {staged_files}
  fail_text: ShellCheck found issues in shell scripts

check-json:
  run: "for f in {staged_files}; do\n  python3 -m json.tool \"$f\" > /dev/null\ndone\n"
  fail_text: Invalid JSON detected

Create .gitignore
  .gitignore
Due: none

Create .gitguardian.yml
  .gitguardian.yml
Due: yaml-lint

Create dgg
  tests/dgg
Due: none

Create ddd
  adrs/ddd
Due: none

Create .markdownlint
  .markdownlint
Due: none

Create renovate.json
  renovate.json
Due: check-json

Create renovate.json5
  renovate.json5
Due: none

Create .trivyignore
  .trivyignore
Due: none

Create checkov.yml
  checkov.yml
Due: yaml-lint

Create config.yml
  .tfsec/config.yml
Due: yaml-lint

Create .terraform-docs.yml
  .terraform-docs.yml
Due: yaml-lint

Create .semgrep.yml
  .semgrep.yml
Due: yaml-lint

Create kics.config
  kics.config
Due: none

Create .editorconfig
  .editorconfig
Due: none

Path conditions:
  terraform-fmt: any of: *.tf
  terraform-validate: any of: *.tf
  tflint: any of: *.tf
  trivy-config: any of: *.tf
  tfsec: any of: *.tf
  checkov: any of: *.tf
  terraform-docs: any of: *.tf
  yaml-lint: any of: *.{yml,yaml}
  markdown-lint: any of: *.md
  shellcheck: any of: *.sh
  check-json: any of: *.json
